<div style="margin: 10px;">
    <div style="background-color: green;padding:auto;height:30px">
        <p>Add New Recipe</p>
    </div>
    <form [formGroup]="recipeForm">
        <div style="padding: 2px;margin: 2px;">
            <label>Recipe Name</label>
            <input type="text" formControlName="recipeName"/>
        </div>
        <div style="padding: 2px;margin: 2px;">
            <button (click)="addIngredient()">Add Ingredient</button>
            <div formArrayName="ingredientsArr" style="padding: 2px;margin: 2px;">
                <ng-container *ngFor="let controls of ingredients().controls;let i=index">
                    <label>{{i+1}}</label><input type="text" [formControlName]="i"><br>
                </ng-container>
            </div>
        </div>
        <button (click)="save()">Save</button>
    </form>
</div>
